$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

* {
 margin: 0;
 padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
 box-sizing: inherit;
  box-sizing: border-box;
}


.nav_header {
 background-color: #5f4444;
 font-size: 9px;
  @media only screen and (max-width: $bp-medium) {
  font-size: 6px;
  }
}

.navigation {
 display: flex;
 align-items: center;

 &__logo {
  width: auto;
  height: 12em;

  margin: -3em 2em -3em 2em;
  @media only screen and (max-width: $bp-medium) {
   margin: -3em 5em -3em 2em;
  }
 }

 //  &__link-box {
 //   background-color: blue;
 //  }

 &__link:link,
 &__link:visited {
  display: flex;
  align-items: stretch;

  height: 100%;
  text-decoration: none;

  font-weight: bold;
  font-size: 2.5em;

  color: #ffffff;

  padding: 0 1em;
  margin: 0 3em;

  &:hover {
   color: darken(#ffffff, 20%);
  }

  @media only screen and (max-width: $bp-medium) {
   justify-content: center;
   padding: 0 1em;
   margin: 0 3em 0 0;
  }
 }
}
